4-TESINA/structures/dtd/reports_commenti.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT reports_commenti (report_commento*)>
<!ATTLIST reports_commenti ultimo_id CDATA #REQUIRED>

<!ELEMENT report_commento (tipo, testo)>
<!ATTLIST report_commento
          id CDATA #REQUIRED
          id_utente CDATA #REQUIRED
          id_commento CDATA #REQUIRED
          data_ora CDATA #REQUIRED>

<!ELEMENT tipo (#PCDATA)>
<!ELEMENT testo (#PCDATA)>
