4-TESINA/structures/dtd/reports_progetti.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT reports_progetti (report_progetto*)>
<!ATTLIST reports_progetti ultimo_id CDATA #REQUIRED>

<!ELEMENT report_progetto (tipo, testo)>
<!ATTLIST report_progetto
          id CDATA #REQUIRED
          id_utente CDATA #REQUIRED
          id_progetto CDATA #REQUIRED
          data_ora CDATA #REQUIRED>

<!ELEMENT tipo (#PCDATA)>
<!ELEMENT testo (#PCDATA)>
