4-TESINA/structures/dtd/richieste.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT richieste (richiesta*)>
<!ATTLIST richieste ultimo_id CDATA #REQUIRED>

<!ELEMENT richiesta (moderatore?)>
<!ATTLIST richiesta
          id CDATA #REQUIRED
          id_utente CDATA #REQUIRED
          id_discussione CDATA #REQUIRED
          data_ora CDATA #REQUIRED
          stato CDATA #REQUIRED>

<!ELEMENT moderatore EMPTY>
<!ATTLIST moderatore
          username CDATA #REQUIRED
          id_mod CDATA #REQUIRED>
