4-TESINA/structures/dtd/tutorials_progetti.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT tutorials_progetti (tutorial_progetto*)>
<!ATTLIST tutorials_progetti ultimo_id CDATA #REQUIRED>

<!ELEMENT tutorial_progetto (step+)>
<!ATTLIST tutorial_progetto 
          id CDATA #REQUIRED
          id_progetto CDATA #REQUIRED>

<!ELEMENT step (descrizione)>
<!ATTLIST step 
          titolo_step CDATA #REQUIRED
          num_step CDATA #REQUIRED
          nome_file_img CDATA #REQUIRED>

<!ELEMENT descrizione (#PCDATA)>
