4-TESINA/structures/dtd/valutazioni_commenti.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT valutazioni_commenti (valutazione_commento*)>
<!ATTLIST valutazioni_commenti ultimo_id CDATA #REQUIRED>

<!ELEMENT valutazione_commento (utilita*, livello_di_accordo*)>
<!ATTLIST valutazione_commento
          id ID #REQUIRED
          id_votante ID #REQUIRED
          id_commento ID #REQUIRED
          data_ora CDATA #REQUIRED>

<!ELEMENT utilita (#PCDATA)>
<!ELEMENT livello_di_accordo (#PCDATA)>
