4-TESINA/structures/dtd/valutazioni.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT valutazioni (valutazione_progetto*)>
<!ATTLIST valutazioni ultimo_id CDATA #REQUIRED>

<!ELEMENT valutazione_progetto (testo)>
<!ATTLIST valutazione_progetto
          id CDATA #REQUIRED
          id_progetto CDATA #REQUIRED
          value CDATA #REQUIRED
          id_votante CDATA #REQUIRED
          data_ora CDATA #REQUIRED>

<!ELEMENT testo (#PCDATA)>
